<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <form class="form-inline p-4" id="register_form">
            <div class="form-group mb-2">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
              </div>
              <button type="submit" id="submit" class="btn btn-primary mb-2">Register</button>
          </form>
          <h1 class="text-center mb-3">Users</h1>
          <ul class="list-group list-group-flush w-50" id="user_list">
            <% for(let user of users){ %>
                <li class="list-group-item" id="<%=user._id%>"><%=user.email %></li>
          <% } %>

          </ul>
    </div>
   

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <scrip src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></scrip>
    <scrip src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></scrip>

    <script>
        $('#submit').click(function(e){
            e.preventDefault()

        let obj={
    	email:register_form.elements['email'].value,
        password:register_form.elements['password'].value,
        } 
    
        fetch('/register',{
		method:'POST',
		headers:{
			"Content-Type":'application/json',		
		},
		body:JSON.stringify(obj)
            }).then((res)=>res.json())
            .then(data=>{
                $('#user_list').append(`<li class="list-group-item" id="${data.users._id}">
                    ${data.users.email}
                    </li>`) 
            })
            $('#register_form').trigger("reset");
        });


    </script>
</body>
</html>